#title-screen {
	text-align: center;
	margin-top: 100px;
}

#title-screen h1 {
	font-size: 4em;
	letter-spacing: 0.5em;
	color: #a00;
}

.menu {
	margin-top: 50px;
}

.menu a {
	font-size: 1.5em;
	color: #fff;
	text-decoration: none;
	border: 1px solid #fff;
	padding: 10px 20px;
}

.menu a:hover {
	background-color: #fff;
	color: #000;
}
